* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  text-align: center;
  background-color: lightgray;
  font-family: sans-serif;
  margin-top: 50px;
}
.storage {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.square {
  height: 120px;
  width: 120px;
  border: 2px solid black;
  opacity: 1;
  transition: opacity 0.5s ease;
  pointer-events: auto;
  cursor: pointer;
}
.game-container {
  display: grid;
  grid-template-columns: repeat(3, 120px);
  grid-template-rows: repeat(3, 120px);
  gap: 0px;
}

#square1 {
  background-color: red;
}

#square2 {
  background-color: blue;
}

#square3 {
  background-color: yellow;
}

#square4 {
  background-color: blueviolet;
}

#square5 {
  background-color: green;
}

#square6 {
  background-color: purple;
}

#square7 {
  background-color: orange;
}

#square8 {
  background-color: brown;
}

#square9 {
  background-color: teal;
}

#show-score {
  margin: 30px 0 0 0;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #333;
}

#show-level {
  margin: 30px 0 0 0;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #333;
}

#start-button {
  color: white;
  cursor: pointer;
  background-color: #614caf;
  font-size: 16px;
}
